<div class="card-columns">
  <div class="card rounded-0">
    <div class="card-header">
      <h4 *ngIf="!isEdit" (click)="isEdit=true" from="name">{{title}}</h4>
      <input class="form-control" *ngIf="isEdit" (focusout)="isEdit=false" (keydown.enter)="isEdit=false" [(ngModel)]="title">
    </div>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control todo-add-task-text" placeholder="Enter Note...">
        <span class="input-group-btn">
          <button class="btn btn-info rounded-0" type="button" (click)="addTask()"><i class="fa fa-plus" aria-hidden="true"></i>
</button>
        </span>
      </div>
    </div>
    <hr/>
    <div>
      <div class="input-group">
        <span class="input-group-addon todo-checkbox">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </span>
        <input type="text" class="form-control todo-text" value="This is a task">
        <span class="input-group-btn">
          <button class="btn btn-light rounded-0" type="button">X</button>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon todo-checkbox">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </span>
        <input type="text" class="form-control todo-text" value="This is a task">
        <span class="input-group-btn">
          <button class="btn btn-light rounded-0" type="button">X</button>
        </span>
      </div>
      <hr/>
      <div class="input-group">
        <span class="input-group-addon todo-checkbox">
              <input type="checkbox" aria-label="Checkbox for following text input" checked>
            </span>
        <input type="text" class="form-control todo-text todo-done-task" value="This is a task">
        <span class="input-group-btn">
          <button class="btn btn-light rounded-0" type="button">X</button>
        </span>
      </div>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>