.todo-add-task-text{
    border:0px;
    border-radius:0px;
    border-bottom:1px solid #eee;
}

.todo-add-task-text:focus{
    border-bottom:1px solid #138496;
}

.card-title input[type="text"]{
    font-size: 1em;
}