<div class="card rounded-0 todo-card" [style.background-color]="bg_color">
  <div class="todo-title-text">
    <h4 *ngIf="!isEdit" (click)="isEdit=true" from="name">{{title}}</h4>
    <input *ngIf="isEdit" class="form-control" (keydown.enter)="isEdit=false" [(ngModel)]="title" type="text">
  </div>
  <div class="input-group">
    <input type="text" class="form-control todo-add-task-text" placeholder="Enter Note..." (keydown.enter)="addTask()">
    <span class="input-group-btn">
          <button class="btn rounded-0 todo-add-task-btn" type="button" (click)="addTask()"><i class="fa fa-plus fa-2"></i></button>
      </span>
  </div>
  <task *ngFor="let task of tasks" [task]="task" (onRemove)="onRemove($event)"></task>
  <div class="card-footer text-muted">
    2 days ago
    <div class="text-dark float-right" (mouseover)="console.log('Hi')">
      <i class="fa fa-paint-brush" aria-hidden="true"></i>
    </div>
  </div>


</div>